<template>
  <div class="main-shop-container">
    Test Vue Shop
    <hr />
    Курс: {{ currencyRate }} руб за 1 $
    <hr />
    <template v-if="Object.keys(cartProducts).length > 0">
      <Cart :cartProducts="cartProducts" :removeFromCart="removeFromCart" />
    </template>
    <div class="categories-container">
      <template v-for="(category, index) of categories">
        <Category :key="'category_' + index" :category="category" />
      </template>
    </div>
  </div>
</template>

<script>
import { getGoods } from "@/helpers/getGoods";
import { getNames } from "@/helpers/getNames";
import { getCurrencyRate } from "@/helpers/getCurrencyRate";

import Category from "@/components/shop/catalog/Category";
import Cart from "@/components/shop/cart/Cart";

export default {
  name: "Main",
  data() {
    return {
      currencyRate: 0,
      goods: [],
      names: {},
      categories: {},
      cartProducts: {},

      isRequestActual: { state: true },
      timoutId: null,
      currencyRateUpdateIntervalMs: 5000,
    };
  },

  watch: {
    goods() {
      this.prepareCategories();
    },
    names() {
      this.prepareCategories();
    },
    currencyRate() {
      this.prepareCategories();
    },
  },

  methods: {
    removeFromCart(cartProductsKey) {
      // eslint-disable-next-line no-unused-vars
      const { [cartProductsKey]: _, ...newCartProducts } = this.cartProducts;
      this.cartProducts = newCartProducts;
    },
    addToCartHandler(product) {
      const newCartProducts = Object.assign({}, this.cartProducts);
      if (product.groupId && product.id) {
        if (newCartProducts[`${product.groupId}_${product.id}`]) {
          if (
            newCartProducts[`${product.groupId}_${product.id}`].qty + 1 <=
            product.qty
          ) {
            newCartProducts[`${product.groupId}_${product.id}`].qty += 1;
          }
        } else {
          newCartProducts[`${product.groupId}_${product.id}`] = {
            qty: 1,
            product,
          };
        }
      }
      this.cartProducts = newCartProducts;
    },
    prepareCategories() {
      const newCategories = {};
      if (
        this.goods &&
        this.goods.length > 0 &&
        this.names &&
        Object.keys(this.names).length > 0
      ) {
        this.goods.forEach((good) => {
          const getPreviousPrice = () => {
            if (this.categories[good.G]) {
              const oldGood = this.categories[good.G].goods.find(
                (product) => product.id === good.T
              );
              if (oldGood) {
                return oldGood.roublePrice;
              }
            }
            return Math.round(good.C * this.currencyRate * 100) / 100;
          };
          const newGood = {
            groupId: good.G,
            id: good.T,
            name: this.names[good.G]["B"][good.T]["N"],
            qty: good.P,
            dollarPrice: good.C,
            previousRoublePrice: getPreviousPrice(),
            roublePrice: Math.round(good.C * this.currencyRate * 100) / 100,
            // I am lazy :-) and just put is here because i don't want to create store for this simple project
            addToCart: () => {
              this.addToCartHandler(newGood);
            },
          };
          newCategories[good.G] = {
            name: this.names[good.G]["G"],
            goods: [
              ...(newCategories[good.G]
                ? [...newCategories[good.G].goods, newGood]
                : [newGood]),
            ],
          };
        });
      }
      this.categories = newCategories;
    },
    async getData() {
      this.goods = await getGoods(this.isRequestActual);
      this.names = await getNames(this.isRequestActual);
      this.currencyRate = await getCurrencyRate();
    },
  },
  mounted() {
    this.getData();
  },
  updated() {
    clearTimeout();
    if (this.timoutId) {
      clearTimeout(this.timoutId);
    }
    this.timoutId = setTimeout(
      async (self, isRequestActual) => {
        const newCurrencyRate = await getCurrencyRate(isRequestActual);
        if (newCurrencyRate) {
          self.currencyRate = newCurrencyRate;
        }
      },
      this.currencyRateUpdateIntervalMs,
      this,
      this.isRequestActual
    );
  },
  beforeDestroy: () => {
    this.isRequestActual.state = false;
    if (this.timoutId) {
      clearTimeout(this.timoutId);
    }
  },

  components: { Category, Cart },
};
</script>

<style scoped>
.main-shop-container {
  padding: 30px;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-gap: 10px;
}
</style>
