<template>
  <div>
    <table class="cart-table">
      <thead>
        <tr class="cart-table__row-bordered">
          <th>Наименование</th>
          <th>Количество</th>
          <th>Цена</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <template v-for="(row, index) of cartProducts">
          <tr :key="'row_' + index" class="cart-table__row-bordered">
            <td>{{ row.product.name }}</td>
            <td>
              {{ row.qty }} шт.
              <div v-if="row.qty === row.product.qty" class="cart-table__label">
                Количество <br />
                ограничено
              </div>
            </td>
            <td>{{ row.product.roublePrice }} руб/шт</td>
            <td>
              <button @click="removeFromCart(index)">удалить</button>
            </td>
          </tr>
        </template>
        <tr>
          <td colSpan="2">
            <span class="cart-table__note">
              При добавлении в корзину цена фиксируется, у нас же публичная
              оферта мы не хотим чтоб цена поменялась пока покупатель идет к
              кассе :-)
            </span>
          </td>
          <td>
            <h3>{{ getTotal }} руб.</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Category",
  props: ["cartProducts", "removeFromCart"],
  computed: {
    getTotal() {
      return Object.keys(this.cartProducts).reduce((total, cartProductKey) => {
        const { qty, product } = this.cartProducts[cartProductKey];
        const newTotal = total + qty * product.roublePrice;
        return Math.round(newTotal * 100) / 100;
      }, 0);
    },
  },
};
</script>

<style scoped>
.cart-table {
  border-collapse: collapse;
}

.cart-table__row-bordered {
  border-bottom: 1px solid black;
}

.cart-table__label {
  padding: 4px;
  background-color: rgba(255, 0, 0, 0.5);
}

.cart-table__note {
  color: #555;
}
</style>
