<template>
  <div class="category-container">
    <div style="background-color: #ddd; padding: 8px">
      {{ category.name }}
    </div>
    <div class="products-container">
      <template v-for="(product, index) of category.goods">
        <Product :key="'product_' + index" :product="product" />
      </template>
    </div>
  </div>
</template>

<script>
import Product from "@/components/shop/catalog/Product";

export default {
  name: "Category",
  props: ["category"],
  components: { Product },
};
</script>

<style scoped>
.category-container {
  border: 1px solid #aaa;
}

.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
</style>
