<template>
  <div class="product-container">
    <div>{{ product.name }} ({{ product.qty }})</div>
    <div class="product-price">
      <div
        :class="
          product.roublePrice >= product.previousRoublePrice
            ? 'product-price_red'
            : 'product-price_green'
        "
      >
        <template v-if="product.roublePrice !== 0">{{
          product.roublePrice
        }}</template>
        <template v-else>Loading</template>

        <br />
        <button @click="product.addToCart">+</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Product",
  props: ["product"],
};
</script>

<style scoped>
.product-container {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px dotted #ccc;
}

.product-price {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-align: center;
}

.product-price_red {
  color: red;
}

.product-price_green {
  color: green;
}
</style>
